<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Components</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/banner">
                        <i class="bi bi-circle"></i><span>Banner Page</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/product">
                        <i class="bi bi-circle"></i><span>All Products</span>
                    </a>
                </li>
                
                <li>
                    <a href="/admin/offer">
                        <i class="bi bi-circle"></i><span>Admin Offer</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/testimonials">
                        <i class="bi bi-circle"></i><span>Testimonials</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/buynow">
                        <i class="bi bi-circle"></i><span>Order Details</span>
                    </a>
                </li>
                </ul>
        </li>
        <!-- End Components Nav -->

   

    </ul>

</aside>